@import url('https://fonts.googleapis.com/css2?family=Anton&family=Audiowide&family=Bebas+Neue&family=Dancing+Script:wght@700&family=Dongle:wght@700&family=Fugaz+One&family=Goldman:wght@700&family=Hubballi&family=Inter:wght@900&family=Italiana&family=Kanit:wght@100;400&family=Kdam+Thmor+Pro&family=Koulen&family=Lato&family=League+Spartan:wght@100&family=Lobster&family=Monoton&family=Montserrat:wght@200&family=Odibee+Sans&family=Oleo+Script&family=Orbitron:wght@900&family=Oswald:wght@500&family=Pacifico&family=Press+Start+2P&family=Questrial&family=Roboto+Mono:wght@100&family=Roboto:wght@700&family=Rubik:wght@400;600&family=Russo+One&family=Secular+One&family=Syncopate:wght@700&family=Train+One&family=Ubuntu:wght@300&family=Varela+Round&display=swap');




:root{
    --text-primary:#000;
    --bgPrimary:#fff;
   --bgSecondary: #F9F9F9;
   --pink: #0071bd;
   --light-blue: #e6f7ff;
   --border: #d9d9d9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

a:hover{
    color: var(--pink) !important;
}

.app{
    display: flex;
    overflow: hidden;
    
}


.navbar{
    flex: 0.2;
    background-color: rgb(0, 21, 41);
}

.main{
    flex: 0.9;
    width: 100%; 
    position: relative;
    left: 10%;
    background-color: #000;
}
.routes{
    padding: 20px;
}
.nav-container{
    position: fixed;
    left: 0;
    margin: 10px;
    height: 100vh;
    width: 200px;
    z-index: 1;
    margin: 0px;
    background-color: rgb(0, 21, 41);
}

.logo-container{
    background-color: #001529;
    display: flex;
    padding: 20px;
    padding-top: 100px;
    margin-top: 60px;
    align-items: center;
    width: 100%;
}
.logo{
    margin-top:80px;
    margin-left: -110px;
}
.logo1{
    margin: -10px 0 0 15px;
    width: 130px;
    height: 90px;
}

.logoImg{
    padding-top: 19px;
    display: inline-flex;
    position: absolute;
    top: 10px;
}
.menu-control-container{
    display: none !important;
    position: absolute !important;
    right: 10px !important;
    top: 45px !important;
    font-size: 1.2rem !important;
    background-color: var(--bgSecondary) !important;
    border: none !important;
}

.loader{
    height: 81vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:1300px){
    .main{
        margin-left: 50px;
    }
}

@media screen and (max-width:1170px){
    .main{
        margin-left: 50px;
    }
}

@media screen and (max-width:1000px){
    .main{
        margin-left: 100px;
    }
}

@media screen and (max-width:800px){
    .app{
        flex-direction: column;
        overflow: hidden;

    }

    .navbar{
        flex: 0;
    }

    .footer{
        position: relative;
        bottom: 0;
        width: 120%;
        left: -80px;
    }
    .main{
        flex: 1;
        margin-top: 90px;
        margin-left: 0px;
        margin-right: 20px;
    }

    .nav-container{
        height: 80px;
        position:fixed;
        width: 100%;
        z-index: 100;
        background-color: var(--bgSecondary);
    }
  
    .menu-control-container{
        display: block !important;
    }

    .crypto-card-container{
        padding-right: 100px;
    }

    .ant-menu{
        position: absolute;
        right: 0px;
    }
    .home-title{
        font-size: 1.4rem !important;
    }
    .home-heading-container{
        padding-right: 100px;
    }
    .show-more{
        font-size: 1.3rem !important;
    }
    .logo-container{
        z-index: 10;
        position: fixed;
        top: -50px;
        height: 100px;
    }
    .ant-row{
        padding-right: 100px;
    }
    .news-image-container img {
        width: 60px;
        height: 60px;
    }
    .coin-detail-container{
        padding-right: 50px;
    }
}

.coin-detail-container{
    margin: 30px;
}

.coin-heading-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid var(--border);
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 10px;
}

.coin-heading-container .coin-name{
    font-weight: 900;
    color: var(--pink);
}

.coin-heading-container p{
    font-size: 1rem;
    opacity: 0.9;
    margin-bottom: 20px;
}

.stats-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.stats-container h2{
    font-weight: 700;
    font-size: 1.4rem;
    margin-top: 20px;
    color: var(--pink);
}

.coin-details-heading{
    font-weight: 700 !important;
    margin-top: 20px !important;
    color: var(--pink) !important;
}

.coin-stats{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border);
    font-size: 1rem;
    opacity: 0.9;
    padding: 20px;

}

.coin-stats-name{
    display: flex;
    gap: 10px;
    font-size: 1rem;
}

.stats{
    font-weight: 800;
}

.coin-value-statistics-heading p{
    font-size: 1rem;
    opacity: 0.9;
}

.coin-desc-link{
    display: flex;
    gap: 40px;
    margin-top: 40px;
    padding-top: 20px;
}

.coin-desc-link h2{
    font-weight: 700;
    color: var(--pink);
}

.coin-desc-link p{
    font-size: 1rem;
    opacity: 0.9;
}

.coin-desc-link a{
    color: var(--pink);
}

.coin-desc-link h3{
    font-weight: 700;
}

.coin-desc{
    flex: 0.5;
}

.coin-links{
  padding: 0px 20px;
    flex: 0.5;
}

.coin-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border);
    padding: 20px;
}

.link-name{
    text-transform: capitalize;
    font-size: 1rem;
}

.coin-link a{
    color: var(--pink);
    font-weight: 700;
    font-size: 1rem;
}

.coin-link:hover, .coin-stats:hover{
    background-color: var(--bgSecondary);
}

@media screen and (max-width:1000px){
    .stats-container{
        flex-direction: column;
    }
    .coin-desc-link{
        flex-direction: column;
    }
    .stats-container h2{
        margin-top: 0px;
    }
}

@media screen and (max-width: 500px){
    .coin-links{
        padding: 0px;
    }
    .coin-detail-container{
        margin: 0;
    }
    .bg {
        height: 100%;
        position: absolute;
        right: 10%;
    }
    .logo {
        display: none;
    }
}
@media screen and (max-width: 500px){
    .heading{
        margin-top: 20px;
    }
    .logo1 {
        height: 70px;
        width: 100px;
    }
}

.select-news{
    width: 180px;
}
.news-card{
    min-height: 300px !important;
}
.news-image-container{
    display: flex !important;
    justify-content: space-between !important;
}
.news-title{
width: 70%;
}

.news-image-container .img{
    width:100px;
    height:100px;
}
.news-card p{
    color: black;
    margin: 10px 0px !important;
}
.provider-container{
    display: flex;
    justify-content: space-between;
}
.provider-name{
    margin-left: 10px;
}

.chart-header{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    color: #0071bd;
}
.chart-title{
    color: #0071bd !important;
}
.price-container{
    display: flex !important;
    gap: 20px !important;
    align-items: center !important;
    flex-wrap: wrap !important;
}
.price-change{
    font-weight: 900 !important;
}
.current-price{
    margin-top: 0px !important;
    font-weight: 900 !important;
}
.home-heading-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.show-more{
    margin-top: 0px !important;
}
.exchange-image{
    margin: 0px 10px !important;
}
.search-crypto{
    margin: 20px auto 30px auto;
    width: 250px;
}
.crypto-card-container{
    min-height: 65vh !important;
}
.crypto-card{
    min-width: 250px;
}
.crypto-card .crypto-img{
    width:35px;
}
.select-timeperiod{
    width: 200px !important;
    margin-top: 20px !important;
}

.footer {
    background-color: #001529;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.card-container {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:#002f4f;
}
.bg {
    position: absolute;
    height: 90%;
    padding-right: 60px;
}
.card {
    z-index: 2;
    border: solid 2px wheat;
    border-radius: 20px;
    margin-top: 100px;
    height: 40vh;
    width: 70vh;
    background-color: #061A2F; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, #061A2F, #1E5564);
}
.exchange-h1{
    position: relative;
    top: 5%;
    left: 15%;
    z-index: 1;
    color: #00FFFF;
    font-size: 2.5vw;
}

.select {
    position: absolute;
    top: 45%;
    left: 60%;
    background-color: #00FFFF;
}
.select2 {
    margin-top: 120px;
}

.input{
    margin: 40px;
    margin-top: 70px;
    width: 200px;
    height: 40px;
    border: none;
    border-bottom: solid 2px #00FFFF;
    background-color: transparent;
    outline: none;
    font-size: 1em;
    color: #00FFFF;
    transition: all 0.3s;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

/* .price p:not(:first-child) {
    display: none;
} */

.btc-price {
    position: absolute;
    top: 5%;
    z-index: 3;
    left: 38%;
    font-size: 2vw;
    color: #0071bd;
    font-family: 'Goldman', cursive;
}

.btc-h1{
    z-index: 1;
    color: #00FFFF;
    font-size: 2.5vw;
    margin-left: 55%;
    margin-top: -90px;
}